/* CUSTOMIZE THE TEAM LIST
-------------------------------------------------- */

#team {
  margin-top: 2rem;
}

.team-card {
  transition: transform 0.2s ease-in-out;
}

.team-card:hover {
  transform: translateY(-10px);
}

.team-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
